name: docs
on:
  push:
    branches:
      - master
      - main
    paths:
      - "docs/**"
      - "mkdocs.yml"
jobs:
  deploy:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - uses: actions/setup-python@v2
        with:
          python-version: 3.x
      - name: Install Python dependencies
        uses: py-actions/py-dependency-install@v3
        with:
          path: "docs/requirements.txt"
      - run: mkdocs gh-deploy --force
